@tailwind base;
html {
  scroll-behavior: smooth;
}

@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter var', sans-serif;
}

.offscreen {
  position: absolute;
  left: -9999px;
}