html {
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter var', sans-serif;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.text-city {
  margin-top: -160px;
  position: absolute;
  color: white;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #02929a !important;
  font-size: 30px !important;
}

@media screen AND (max-width: 600px) {
  .text-city {
    margin-top: -120px;
    position: absolute;
    color: white;
  }
}
